
body {
    background-image: url("../images/body_background.jpg");
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
}


/*---------------NAVBAR-------------*/
header
{
	position: absolute;
	z-index: 0;
	width: 100%;
	
}

.navbar
{
	padding: 20px 0;
}

.navbar-brand
{
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
	color: #262626;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10px;
	
}

.navbar-brand img
{
	width: 140px;
}

.nav-item
{
	font-weight: 800;
	text-transform: uppercase;
	
}
.navbar-light .navbar-nav .nav-item .nav-link:hover, 

.navbar-light .navbar-nav .nav-item.active .nav-link 
{
	background: #262626;
	color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link
{
    color: #262626;
    padding: 5px 15px;
    margin-left: 23px;
    margin-right: 48px;
}

.navbar-light .navbar-toggler
{
	border: none;
	color: #fff;
	border: 2px solid #7f7f77;
	border-radius: 0;
	outline: none; 
}

.navbar-collapse .navbar .navbar-expand-lg .navbar-light .bg-light
{
	background: #f8f9fa;
}


/*----INDEXPAGE-----*/
.banner-text{
	position: absolute;
	top: 60%;
	left: 25%;
	right: 25%;
	transform: translate(-50%,-50);
	text-align: center;
		
   }

.banner-text p {
	color: #fff;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
	margin: 0;
     text-align: center fixed;
	align-content: bold;

	
}

.text-center{
	text-align: center;

}

.btn {
	display: inline-block;
	margin-top: 5%;
	background: transparent;
	font-size: 20px;
	text-transform: uppercase;
	border: 3px solid #fff;
	padding: 10px 25px;
	color: #fff;
	border-radius: 25px;
}


.fullscreen-bg__video {
	max-height: 100%;
	max-width: 100%;
	margin-bottom: 0px;
}
/*----FOOTER-----*/

.pfooter {
    color: #999;
    line-height: 25px;
    min-width: 0px;
}

.h2footer, .h3footer {
	color: #fff;
}

.h2footer {
	font-size: 18px;
}

.footer-top {
	background: #454545;
	padding: 20px 0;
}

.segment-one .h3footer {
	color: #fff;
	letter-spacing: 3px;
	margin: 10px 0;
	
}

.segment-two h2 .h2footer {
	color: #fff;
	letter-spacing: 3px;
	margin: 10px 0;
	text-transform: uppercase;
}

.segment-two .h2footer:before {
	content: '|';
	color: #c65039;
	padding-right: 10px;
	
}

.segment-two ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.segment-two ul li {
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
line-height: 40px; 
}

.segment-two ul li a {
	color: #999;
	text-decoration: none;
}

.segment-three h2 {
	color: #fff;
    text-transform: uppercase;
	
}

.segment-three .h2footer:before {
	content: '|';
	color: #c65039;
	padding-right: 10px;
	
}

.segment-three a {
	background: #494848;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;

}

.segment-three a i {
	font-size: 20px;
	color: #fff;
	padding: 10px 12px;
}

.footer-bottom-text{
	text-align: center;
	background:#2B2B2B;
	line-height: 75px;
	color: #FFF;
}
.midbox-img {
	width: 100%;
}
.centerbox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.Middle-img {
	height: 100%;
	width: 100%;
}
.Shopmenutitle {
	font-family: allan;
	color: #DA0E15;
}
.soldout-text {
	background: #DA0E15;
	width: 50px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
}
.shopmenuitems {
}
.imgBx {
	margin-left: 0px;
}
.valueboxes {
	display: flex;
	justify-content: center;
	margin-left: 0px;
}

.purchase-btn-container {
	display: flex;
	justify-content: flex-end;
}
.CartTitle {
	font-family: allan;
	color: #DA0E15;
}
.fullscreen-bg .fullscreen-bg__video {
}

/*--------------------Shop----------------*/
.shop-container {
	
	  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.storeBG{
	width: 1545px;
	height: auto;
		
}
.storeunnacitve {
	Background-color: grey;
}

/*------Product page-----*/
.background-product {
	background-color: transparent;
	
}
.single-product {
	margin-top: 70px;
	padding-top: 20px;
	background-color: transparent;
	
}

.new-arrival {
	
	background: #DA0E15;
	width:50px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
	
	
}
.backtocart-btn {
	margin-left: 0px;
	background-color: #DA0E15;
}
.Purchase-btn {
	background-color: #DA0E15;
}



.col-md-7 h2 {
    color: #DA0E15;
	font-family: allan;
	
}


 .price {
	color: #DA0E15;
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	
}

.instock {
	color: #DA0E15;
}


.avail {
	color: #363636;
}

input {
	
	border:1px solid;
	font-weight: bold;
	height:33px;
	width: 30px;
	text-align: center;
	
}

.single-product .btn-primary{
    background: #DA0E15;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
	
}

.product-description h5 {
    margin-top: 50px;
    margin-left: 5px;
    color: #DA0E15;
    font-size: 25px;
	font-family: allan;
}

.product-description p {
	
	margin-top: 30px;
	margin-left: 5px;
	
}
	
.sizechoi{
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 50px;
    bottom: 40px;
}
	


.carousel-item {
    width: 100%;
    margin-top: 80px;
}

.sizecalculator {
	
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 100%;
	max-height: 100%;
		
	
}
 

.sizecal{
    color: #DA0E15;
    font-family: allan;
    font-size: xx-large;
	text-align: center;
	
}



.img-unisex {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; 
  max-height: 100%;


}

.material{
    position: relative;
    bottom: 25px;
	
}

.background-product {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 10px;
	margin-bottom: 60px;
	background-color: #FFFFFF
}

/*-----------Checkout-------*/



.Checkout-title {
	font-family: allan;
	color: #DA0E15;
	padding-top: 20px;
}
.formtext {
	font-family: 'Josefin Sans', sans-serif;
}
.Thankyoubtn {
	background-color: #DA0E15;
}
.col.col6_Button center .btn.btn-primary.btn-lg.thankyoubtn {
}


/*------- ThankYou ------*/

.container_ThankYou {
	
	font-weight: 800;
	
	margin-top: 72px;
	margin-bottom: 40px;

}

.Text_ThankYou {
	
	font-size: 70px;
	font-family: allan;
	color: #DA0E15;
	
}

.Text_Purchase {
	
	font-size: 25px; 
}

.col5_Icon {
	
	text-align: center;
}

.col4_Text {
	
	text-align: left;
}

.col2_Icon {
	
	text-align: center;
}

.row2_ThankYou {
	
	justify-content: center;
}

.row3_ThankYou {
	
	justify-content: center;
}

	/*--------AboutUs--------*/

.containeraboutus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}


.colourteam {
    background-color: transparent;
    margin-bottom: 55px;
    margin-top: 16px;	
}

.jumbotronaboutus {
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
}

.btnab{
	background-color: red;
}

.btnab:hover {
	background-color: indianred;
	font-color: black;
}


.aboutusvalues {
    background-color: #E1DFDF;
    margin-top: 60px;
    margin-right: 84px;
	margin-left: 84px;

}






.container .valuesfromus {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .valuesfromus
{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box 
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container .box .imgBx 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dearreader {
	font-family: allan;
}

.valuetext {
	padding-top: 40px;
	font-family: allan;
	font-size: 100px;
	color: #DA0E15;
}

.ourteamheader {
	padding-top: 40px;
	font-family: allan;
	font-size: 100px;
	color: #DA0E15;
}

.meetourteam {
	font-size: 25px;
}

.namesab {
	font-family: allan;
	color: #000000;
}

.container .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container .box .content h2
{
	margin: 0;
	padding: 0;
}
.container .box .content a
{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container .box:hover .content a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}





.aboutusvalues {
	background-color: #E1DFDF;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

	
	
	
}

.valuetext {
	text-align: center;
	background-color: transparent;
}
	


.readertext  {
font-size:	36px; 
	color: #000000;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;

	
	
	
}



.aboutusvaluestext {
	
	fontsize: 24px;
	color: #333;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;

}

#team img {
margin-top: -50px;

}

#team i{
	
	font-size:26px;
	color: #555;
	font-family: 'Josefin Sans', sans-serif;

	
}


#team p{
	font-weight: 500;
	font-family: 'Josefin Sans', sans-serif;


} 


#team .card{
	border-radius: 0;
	box-shadow: 5px 5px 15px #e74c3c;
	transition: all 0.3s ease-in;
	webkit-tranistion: all 0.3s ease-in;
	moz-transition: all 0.3 ease-in;
	
	
	
}

#team .card:hover{
	background: #e74c3c;
	color: #fff;
	border-radius: 5px;
	border: none;
	box-shadow: 5px 5px 10px #9E9E9E;
	
	
	
}

#TEAM .card:hover .readertext, #team  .card:hover i{
	color: #FFF; 
	
	
	
	
}





.aboutusvalues {
    background-color: #E1DFDF;
    margin-top: 60px;
    margin-right: 84px;
	margin-left: 84px;

}





 @media only screen and (min-width: 768px) and (max-width:991px) 
{
	.md-mb-30 {
		margin-bottom:30px;
	}
}
@media only screen and (max-width: 767px) {
	.sm-mb-30 {
		margin-bottom: 30px;
	}
	.footer-top{
		padding:50px 0;
	}
}
